{
  "presets": ["react-native"],
  "plugins": [
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-react-jsx",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "actions": "./app/actions",
        "api": "./app/api",
        "components": "./app/components",
        "config": "./app/config",
        "constants": "./app/constants",
        "reducers": "./app/reducers",
        "screens": "./app/screens",
        "styles": "./app/styles",
        "utils": "./app/utils"
      }
    }]
  ]
}
